PORT=5001
NODE_ENV=development

# Database configuration (TiDB)
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=3st3gXmmbPbWTfa.root
DB_PASSWORD=2znovyQDUiHl0GN9
DB_NAME=yoga_studio

# Google OAuth & Authentication
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
AUTH_SECRET=your_jwt_signing_secret